*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

:root{
 --pri-color: #1B2727;
 --sec-color: #3C5148;
 --tri-color: #D5DDDF;
 --running: #FCBB6D;
 --cycling: #EE4540;
 --pri-font-fam: 'Lato', sans-serif;
} 

body{
    background-color: var(--tri-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 95%;
    background-color: #fff;
}

.sidebar{
    width: 35%;
    height: 100%;
    background-color: var(--pri-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    font-family: var(--pri-font-fam);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.content-creator{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    background-color: var(--sec-color);
    border-radius: 5px;

    padding: 1rem 2rem;

    margin-bottom: 0.5rem;
}
.workouts{
    width: 80%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.workout {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--sec-color);
    border-radius: 5px;

    padding: 1rem 2rem;

    margin-bottom: 0.5rem;
}

.workout__title {
    font-family: var(--pri-font-fam);
    font-weight: 400;
    font-size: 1.2rem;
}

.workout__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--pri-font-fam);
    font-weight: 300;
    font-size: 1rem;
}

.content-creator__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--pri-font-fam);
    font-weight: 400;
    font-size: 1rem;
}

input {
    width: 80px;
    height: 20px;
}

.bdr-running{
    border-left: 5px solid var(--running);
}

.bdr-cycling{
    border-left: 5px solid var(--cycling);
}

#map {
    flex: 1;
    height: 100%;
    position: absolute !important;
}